html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-width: 960px;
    padding: 0;
    margin: 0;
    position: relative;
    font-family:  "PT Sans Narrow", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    background-image: url("../img/white-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat; 
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.visually-hidden {
    display: none;
}

/* styles for red buttons */
.button-red {
    display: inline-block;
    height: 38px;
    font-family: 'Cuprum', Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    background-color: #ff5357;
}

.button-red:visited {
    color: #ffffff;
}

.button-red:hover {
    background-color: #ca2c37;
}

.button-red:active {
    background-color: #ba2732;
}

/* styles for header */
.page-header {
    display: flex;
    flex-direction: column;
    min-width: 960px;
    padding: 0;
    margin: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    background-color: #f2f6f8;
    background-image: url("../img/header-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

/* header-top */
.page-header-top {
    padding: 0;
    margin: 0;
    min-width: 960px;
    background-color: #293449;
}

.header-top-inner {
    display: flex;
    width: 960px;
    height: 42px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top-inner a {
    margin: 0;
    padding: 0;
    width: 150px;
    font-size: 17px;
    line-height: 42px;
    text-align: center;
    color: #ffffff; 
}
.header-top-inner a:visited {
    color: #ffffff; 
}

.header-top-inner input {
    width: 270px;
    padding-left: 50px;
    color: #ffffff;
    background-color: #293449;
    border: none;
}

.header-top-inner input:hover,
.header-bookmarks:hover,
.header-cart:hover {
    background-color: #212a3a;
}

.header-bookmarks:active,
.header-cart:active {
    background-color: #161d29;
}

.header-top-inner input:focus {
    background-color: #ffffff;
    color: #000000;
}

.header-top-inner .header-logo {
    width: 220px;
    height: 47px;
    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.cart-not-empty {
    background-color: #ee3643;
}

.header-logo:hover,
.cart-not-empty:hover {
    background-color: #ca2c37;
}

.header-logo:active,
.cart-not-empty:active {
    background-color: #ba2732;
}

.header-order {
    background-color: #63a63e;
}

.header-order:hover {
    background-color: #5fbb2d;
}

.header-order:active {
    background-color: #518534;
}

/* header-info */
.page-header-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 960px;
    min-height: 158px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 0 10px;
}

.page-header-title {
    width: 250px;
    padding-left: 50px;
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    font-weight: 400;
}

.header-contacts {
    width: 270px;
    margin: 0;
    padding: 0;
}

.header-contacts .phone {
    display: inline-block;
    width: 264px;
    min-height: 39px;
    margin-bottom: 10px;
    color: #e9292a;
    font-size: 21px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    vertical-align: top;
    border: 3px solid #ffffff;
}

.header-contacts .address {
    padding-left: 10px;
    color: #32425c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.user-navigation,
.header-user .user-name {
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
}

.user-navigation a:visited,
.user-name a:visited {
    color: #000000;
}

.user-navigation .login,
.user-navigation .sing-up,
.header-user .user-name {
    background-color: #fefeff;
}

/* unauthorized user */
.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 285px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation .login,
.user-navigation .sing-up {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    vertical-align: top;
}

.user-navigation .login {
    width: 121px;
}

.user-navigation .sing-up {
    width: 150px;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:active {
    opacity: 0.3;
    color: #000000
}

/* authorized user */
.header-user .user-name {
    display: inline-block;
    width: 299px;
    height: 45px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    line-height: 45px;
    vertical-align: top;
    background-color: #f2f6f8;
}

.header-user:active {
    opacity: 0.3;
    color: #000000
}

.user-navigation-login {
    display: flex;
    justify-content: space-between;
    width: 227px;
    margin: 0;
    padding: 0;
    padding-left: 17px;
    color: #32425c;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
}

.user-navigation-login li:first-child {
    list-style: none;
}

.user-navigation-login a:visited {
    color: #32425c;
}

.user-navigation-login a:hover {
    color: #ee3643;
}

/* header-navigation */
.header-navigation {
    width: 960px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 10px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: inset 0 -5px 0 #293449;
    background-color: #32425c;
}

.site-navigation li {
    display: inline-block;
    width: 100%;
    min-height: 60px;
    padding: 0 15px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
}

.site-navigation a:visited {
    color: #ffffff;
}

.site-navigation li:hover {
    background-color: #293449;
}

.site-navigation li:active {
    background-color: #1d2739;
}

/* styles for goods-and-offers block */
.goods-and-offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 60px;
    font-family: 'Cuprum', Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.goods-and-offers .button:visited {
    color: #ffffff;
}

.goods-categories,
.offers {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.goods-categories {
    width: 940px;
    margin-bottom: 20px;
}

.offers {
    flex-direction: column;
    min-height: 266px;
}

.goods-categories li,
.offers li {
    width: 300px;
    height: 123px;
}

.categories-materials {
    background-color: #ffbf47;
}

.categories-tools {
    background-color: #3bbce3;
}

.categories-technics {
    background-color: #dc91d8;
}

.offers-discount {
    background-color: #8ed78f;
}

.offers-delivery {
    background-color: #ffc047;
}

.goods-categories h3,
.offers h3 {
    margin: 0;
    margin-top: 21px;
    margin-left: 22px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: none;
}

.goods-categories-button,
.offers-button {
    display: inline-block;
    width: 135px;
    height: 38px;
    margin-top: 11px;
    margin-left: 24px;
    line-height: 38px;
    text-align: center;
    vertical-align: top;
    background-color: rgba(0%, 0%, 0%, 0.1);
}

.goods-categories-button:hover,
.offers-button:hover {
    background-color: rgba(0%, 0%, 0%, 0.2);
}

.goods-categories-button:active,
.offers-button:active {
    background-color: rgba(0%, 0%, 0%, 0.3);
}

/* goods-and-offers slider */
.slider {
    width: 620px;
    height: 266px;
    margin: 0;
    padding: 0;
    position: relative;
}

.slider h3 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.slider p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
}

.slider input {
    position: absolute;
    bottom: 38px;
    z-index: 2;  
}

.slider-btn-1 {
    left: 295px;
}

.slider-btn-2 {
    left: 317px;
}

.slider-controls {
    width: 620px;
    position: absolute;
    z-index: 2;
    font-size: 0;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 200%;
    height: 266px;
    margin: 0;
    padding: 0;
}

.slider-slides .slider-slide {
    float: left;
    width: 620px;
    height: 266px;
    margin: 0;
    padding: 0;
    position: relative;
}

.slider-slide .slide-description {
    padding-top: 25px;
    padding-left: 25px; 
    position: absolute;
    z-index: 2;
}

.slider-slide img {
    position: relative;
    top: 0;
    left: 0;
}

.slider-btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}
  
.slider-btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-620px);
}

.slider-button {
    width: 195px;
    position: absolute;
    bottom: 22px;
    left: 25px;
}

/* styles for catalog-popular and popular-producers blocks */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 89px;
    padding-right: 30px;
    padding-left: 24px;
    font-family: 'Cuprum', Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #f9f5f0;
}

.section-header h2 {
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.section-header .button-red {
    width: 253px;
}

.catalog-popular ul,
.popular-producers ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* popular-producers */
.popular-producers {
    margin-bottom: 128px;
    margin-top: 20px;
}


.popular-producers ul {
    flex-wrap: wrap;
}

.producers-item {
    width: 220px;
    height: 145px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    border: 1px solid #eaeaea;
}

.producers-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.producers-item:active {
    opacity: 0.3;
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.producers-item img {
    margin:auto;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* styles for servis-block */
.servis {
    margin-bottom: 55px;
}

.servis h2 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.servis p {
    width: 320px;
    margin: 0;
    line-height: 24px;
}

.servis-slider {
    display: flex;
    position: relative;
}

.servis-controls {
    width: 240px;
    margin-right: 80px;
    margin-top: 75px;
}

.servis-controls label {
    display: inline-block;
    width: 240px;
    height: 61px;
    margin-bottom: 1px;
    padding-left: 22px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 61px;
    vertical-align: top;
    color: #ffffff;
    box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
    background-color: #32425c;
}

.servis-btn-1:checked ~ .servis-controls label[for="servis-btn-1"],
.servis-btn-2:checked ~ .servis-controls label[for="servis-btn-2"],
.servis-btn-3:checked ~ .servis-controls label[for="servis-btn-3"] {
    color: #32425c;
    box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
    background-color: #ffffff;
}

.servis-inner {
    width: 630px;
    margin: 0;
    margin-top: 75px;
    padding: 0;
    overflow: hidden;
}

.servis-slides {
    width: 350%;
    height: 285px;
    margin: 0;
    padding: 0;
}

.servis-slides .servis-slide {
    float: left;
    width: 630px;
    height: 285px;
    margin: 0;
    padding: 0;
}

.servis-slide h3 {
    margin: 5px 0 40px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.servis-btn-1:checked ~ .servis-inner .servis-slides {
    transform: translate(0);
}
  
.servis-btn-2:checked ~ .servis-inner .servis-slides {
    transform: translate(-630px);
}
  
.servis-btn-3:checked ~ .servis-inner .servis-slides {
    transform: translate(-1260px);
}

.credit-button {
    width: 195px;
    margin-top: 30px;
}

/* styles for about-us block */
.about-us {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 85px;
    padding: 0;
}

.about-us h2 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.about-us p {
    margin: 0;
    margin-bottom: 19px;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.about-company {
    width: 420px;
}

.about-delivery {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
}

.about-delivery li {
    margin-bottom: 20px;
}

.about-us-more {
    width: 220px;
    margin-top: 20px;
}

.about-contacts {
    width: 300px;
    margin: 0;
    padding: 0;
}

.contacts-map img {
    margin: 0;
    margin-bottom: 40px;
    margin-top: 5px;
    padding: 0;
}

.contacts-write-us {
    width: 300px;
}

/* styles for breadcrumbs */
.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
}

.breadcrumbs li {
    margin: 0;
    margin-right: 40px;
    margin-top: 85px;
    padding: 0;
}

.breadcrumbs a:visited {
    color: #000000;
}

/* styles for catalog-inner */
.catalog-inner h2 {
    width: 100%;
    height: 89px;
    margin-bottom: 0;
    padding-left: 30px;
    padding-top: 32px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/* styles for filters */
.filters {
    width: 220px;
    margin-top: 20px;
}

.filter-name {
    display: inline-block;
    width: 220px;
    height: 38px;
    margin-top: 0;
    margin-left: 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 38px;
    vertical-align: top;
    text-transform: uppercase;
    background-color: #f7f3ec;
}

.filter-form {
    position: relative; 
}

.filters ul {
    list-style: none;
}

.filters li {
    text-transform: uppercase;
}

.filter-form fieldset {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter-form legend {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filters .form-button-submit {
    width: 140px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

/* price-filter */
.range {
    width: 220px;
    height: 80px;
    margin-bottom: 0;
    text-align: center;
}

.min-max-price {
    margin-top: 9px;
}

.range,
.input-range-number {
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    background-color: #f7f3ec;
    border: none;
}

.input-range {
    width: 180px;
    height: 80px;
}

.input-range-number {
    width: 95px;
    height: 38px;
    text-align: center;
}

.price-filter span {
    padding: 0 7px;
}

/* producers-filter */
.producers-filter ul,
.supply-filter ul {
    margin: 0;
    padding: 0;
}

.producers-filter label,
.supply-filter label {
    font-size: 15px;
    font-weight: 400;
    line-height: 43px;
} 

/* supply-filter */
.supply-filter {
    border-bottom: none;
}

/* sort-filter */
.sort-filter {
    width: 700px;
    height: 38px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -51px;
    left: 238px;
    background-color: #f7f3ec;
    border-bottom: none;
}

.sort-filter-inner {
    display: flex;
    align-items: center;
    width: 700px;
    height: 38px;
    padding-left: 19px;
    padding-right: 17px; 
    position: relative;
}

.sort-filter legend {
    margin-right: 139px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.sort-filter ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.sort-filter .sort-type {
    width: 355px;
    margin-right: 46px;
}

.sort-option label {
    color:  rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643; 
}

.sort-option label:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643; 
}

.sort-input:checked + label {
    border: none;
    color: #ee3643;
}

.sort-filter .order {
    width: 45px;
    font-size: 0;
}

.order-option label {
    font-size: 0;
}

/* catalog */
.catalog {
    width: 700px;
    margin: 0;
    margin-top: 60px;
    padding: 0;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 318px;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
}

.catalog-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item h3 {
    width: 219px;
    margin: 0;
    padding: 0 32px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.catalog-item .item-name:visited {
    color: #000000;
}

.catalog-item-image {
    order: -1;
    margin: 0;
}

.catalog-item:hover > .catalog-item-image {
    display: none;
}

.catalog-item-price {
    width: 141px;
    margin: 0 auto;
    margin-bottom: 21px;
    text-align: center;
}

.catalog-item .price-old {
    color: #999999;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: line-through;
    text-transform: uppercase;
}

.catalog-item .price-current {
    display: inline-block;
    width: 141px;
    height: 38px;
    margin-top: 13px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    background-color: #ee3643;
}

.no-old-price .price-current {
    margin-top: 34px;
}

.catalog-item-cart {
    display: none;
    order: -1;
    width: 218px;
    height: 170px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.catalog-item:hover > .catalog-item-cart {
    display: block;
}

.catalog-item-cart .item-in-cart {
    display: inline-block;
    width: 135px;
    height: 38px;
    margin: 0;
    margin-top: 43px;
    padding: 0;
    line-height: 38px;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #63a63e;
}

.catalog-item-cart .item-in-cart:visited {
    color: #ffffff;
}

.item-in-cart:hover {
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #5fbb2d;
}

.item-in-cart:active {
    background-color: #518534;
}

.item-in-bookmarks {
    display: inline-block;
    width: 135px;
    height: 38px;
    margin: 0;
    margin-top: 8px;
    padding: 0;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    color: #32425c;
    border: none;
    border: 3px solid #63a63e;
    background-color: #ffffff;
}

.item-in-bookmarks:hover {
    border: 3px solid #32425c;
}

.item-in-bookmarks:active {
    color: #32425c;
    border: 3px solid #32425c;
    opacity: 0.3;
}

/* styles for paginator */
.pagination {
    display: flex;
    margin: 0;
    margin-top: 52px;
    padding: 0;
    list-style: none;
}

.pagination-item a:visited {
    color: #000000;
}

.pagination-item {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 10px;
    line-height: 38px;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.pagination-item:last-of-type {
    width: 140px;
}

.pagination-item:hover {
    border: 1px solid #bdc6ca;
}

.pagination-item:active {
    border: 1px solid #ee3643;
}

.pagination-item-current {
    color: #ffffff;
    background-color: #ee3643;
}

/* styles for about-category block */
.about-category {
    width: 800px;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 60px;
    padding: 0;
    line-height: 24px;
}

.about-category h2 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

/* styles for footer */
.page-footer {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    background-color: #32425c;
}

/* footer-top */
.page-footer-top {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo-and-contacts {
    width: 350px;
}

.footer-logo {
    display: inline-block;
    width: 220px;
    height: 68px;
    margin-bottom: 32px;
    line-height: 68px;
    color: #ffffff;
    text-align: center;
    vertical-align: top;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.footer-contacts {
    padding: 0;
    margin: 0;
    color: #f3f7f9;
}

.footer-navigation-lists {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-navigation-lists ul {
    display: flex;
    margin: 0;
    margin-top: 38px;
    padding: 0;
}

.footer-navigation-lists li {
    margin-left: 60px;
}

.footer-site-navigation,
.footer-categories-navigation,
.footer-social {
    list-style: none;
}

.footer-site-navigation a {
    color: #f1f5f7;
}

.footer-site-navigation a:visited {
    color: #f1f5f7;
}

.footer-categories-navigation a {
    color: #ffd180;
}

.footer-categories-navigation a:visited {
    color: #ffd180;
}

.page-footer a:not(.no-underline):hover {
    text-decoration: underline;
}

.footer-site-navigation a:active,
.footer-categories-navigation a:active {
    opacity: 0.5;
}

/* footer-bottom */
.page-footer-bottom {
    min-width: 960px;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    min-height: 107px;
    margin: 0 auto;
    padding: 0 10px;
}

.company-rights {
    width: 230px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    min-width: 135px;
    margin: 0;
    margin-left: 90px;
    margin-right: 50px;
    padding: 0;
}

.footer-social li {
    width: 42px;
    height: 42px;
    font-size: 0;
    background-color: #212a3a;
}

.footer-social a:visited {
    color: #ffffff;
}

.footer-social li:hover,
.footer-social li:active {
    background-color: #ee3643;
}

.footer-feedback {
    width: 140px;
}

.footer-copyright {
    width: 100px;
}

.feedback-email,
.footer-copyright a {
    color: #ffd180;
}

.feedback-email:visited
.footer-copyright a:visited {
    color: #ffd180;
}

.feedback-email:active,
.footer-copyright a:active {
    color: #ee3643;
}

/* styles for modal windows */
.modal {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* map modal window */
.modal-map-full {
    bottom: 355px;
}

.modal-map-container {
    width: 940px;
    height: 447px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
    background-color: #565656;
}

/* write-us modal window */
.modal-write-us {
    bottom: 201px;
}

.modal-write-container {
    width: 620px;
    height: 430px;
    margin: 0;
    padding: 0;
    border-top: 7px solid  #ee3643;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
}

.write-us-form {
    height: 100%;
}

.write-us-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
    height: 311px;
    margin: 0 80px;
    padding: 0;
    padding-top: 48px; 
}

.write-us-form p {
    margin: 0;
    padding: 0;
}

.write-us-form p:not(.write-us-message) {
    width: 220px;
}

.write-us-form label {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.write-us-form input,
.write-us-form textarea {
    margin-top: 13px;
    padding-left: 16px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #a9a9a9;
    border: 2px solid #dee3e4;
    background-color: #ffffff;
}

.write-us-form input {
    width: 220px;
    height: 38px;
}

.write-us-form textarea {
    width: 460px;
    min-height: 114px;
    text-align: left;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
    border: 2px solid #b5b5b5;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
    border: 2px solid #ee3643;
}

.write-us-submit {
    width: 620px;
    height: 112px;
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.write-us-submit .write-us-button {
    width: 460px;
    color: #ffffff;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    background-color: #ee3643;
}

/*item-in-cart modal window */
.modal-item-in-cart {
    top: 466px;
}

.modal-in-cart-container {
    width: 620px;
    height: 282px;
    font-family: 'Cuprum', Arial, sans-serif;
    text-align: center;
    border-top: 7px solid  #ee3643;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
    background-color: #ffffff;
}

.modal-in-cart-container h3 {
    padding: 0;
    margin: 0;
    margin: 68px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.modal-in-cart-container p {
    height: 112px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f1f1f1;
}

.modal-in-cart-container .order-button,
.modal-in-cart-container .return-to-catalog {
    width: 220px;
    margin-top: 37px;
    padding: 0;
}

.modal-in-cart-container .return-to-catalog {
    height: 38px;
    margin-left: 20px;
    line-height: 38px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
}
